# 文件
*.tmp
*.dll
*.so
*.exe
*.mp3
*.pyc
uv.lock
configs/config.json
workspace.xml
wtf.txt

# 目录
assets/stat/bot_hits.log
assets/stat/bot_refs.log
assets/stat/outputs/*
!assets/stat/outputs/.gitkeep
assets/dyn/*
!assets/dyn/.gitkeep
assets/stat/logs/*
!assets/stat/logs/.gitkeep
.venv/
refs/*
tmp/
tmp*
js_utils/ref/
diff_tests/js_src_testcase/obfus
diff_tests/_trial_temp/
__pycache__/

# 代码编辑工具等乱七八糟的东西

.idea
.vscode
.dist
.pytest_cache
.DS_Store
shelf/
