# 隐私文件定义
*.tmp
*.dll
*.so
*.exe
config.json
analysis.txt
wtf.txt
static_assets/bot_hits.log
multifn/login.py
tmp/
tmp*


# 代码编辑工具乱七八糟的东西
/workspace.xml
.idea
.vscode
.dist
/shelf/
__pycache__

# 排除output内的内容而不排除output.
static_assets/output/*
!static_assets/output/