# 隐私文件定义
config.json
analysis.txt
wtf.txt
static_assets/bot_hits.log

# 代码编辑工具乱七八糟的东西
/workspace.xml
*.tmp
*.dll
*.so
.idea
.vscode
.dist
/shelf/
__pycache__

# 暂时不给看的内容
multifn/login.py

# 隐私文件夹
static_assets/output/*
tmp/