# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platforms have been tested: win10_64 kali-linux-6.6.9 manjaro-6.12.1

PyExecJS~=1.5.1
pycryptodome~=3.20.0
user-agents~=2.2.0
fake_useragent~=2.0.3
requests~=2.32.3
argparse~=1.4.0
gmssl~=3.2.2
mmh3~=5.1.0
Pillow~=10.1.0
crypto~=1.4.1